#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  margin: 0 auto;
}

.CurrencyTitle {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: darkred;
}

.CurrencyBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
}

.CurrencyFrom,
.CurrencyTo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.CurrencyLabel {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
